include ../layout/header.jade
include ../layout/menu.jade

section.padding#profile-header
	.wrap
		.row.gutter-large.flex.flex-center
			.col-sm-2
			.col-4.image.t-right
				img(src="/img/profile-pictures/#{user.image}-cropped.jpg")
			.col-4
				h1 #{user.firstname} #{user.lastname}
				span.email #{user.email}
				a.btn.btn-primary.btn-small(href="#") Call to action
			.col-sm-2
section.padding(ng-controller="userEditCtrl" ng-init="user = #{userData}")
	.wrap
		div.row.gutter-large
			div.col-sm-6
				form(novalidate name='useredit' ng-submit='useredit.$valid && edit(user)')
					div.form-group.row.gutter-base
						h1.form-title Personal data
						div.col-sm-6
							div.form-control
								label.label Firstname
								div.form-element
									input.input(type='text' name='firstname' ng-model='user.firstname' required)
						div.col-sm-6
							div.form-control
								label.label Lastname
								div.form-element
									input.input(type='text' name='lastname' ng-model='user.lastname' required)
						div.form-control.col-12
							label.label E-mail
							div.form-element
								input.input(type='email' name='email' ng-model='user.email' required)
					div.form-group.row.gutter-base
						h1.form-title Residential information
						div.form-control.col-12
								label.label Address
								div.form-element
									input.input(type='text' name='address' ng-model='user.address' required)
						div.col-sm-6
							div.form-control
								label.label Postcode
								div.form-element
									input.input(type='text' name='postcode' ng-model='user.postcode' required)
						div.col-sm-6
							div.form-control
								label.label City
								div.form-element
									input.input(type='text' name='city' ng-model='user.city' required)
					div.form-group.row.gutter-base
						div.form-control
							input.btn.btn-primary(type='submit' value='Save')

			div.col-sm-6
				form(novalidate name='updatesocial' ng-submit='updatesocial.$valid && updateSocial(user)')
					div.form-group.row.gutter-base
						h1.form-title Update social
						div.col-12
							div.form-control
								label.label LinkedIn
								div.form-element
									input.input(type='text' name='linkedin' ng-model='user.linkedin' required)
						div.col-12
							div.form-control
								label.label Facebook
								div.form-element
									input.input(type='text' name='facebook' ng-model='user.facebook' required)
						div.col-12
							div.form-control
								label.label Instagram
								div.form-element
									input.input(type='text' name='instagram' ng-model='user.instagram' required)
					
					div.form-group.row.gutter-base
						div.form-control
							input.btn.btn-secondary(type='submit' value='Update')

			div.col-sm-6
				form(novalidate name='changepassword' ng-submit='changepassword.$valid && changePassword(password)')
					div.form-group.row.gutter-base
						h1.form-title Change password
						div.col-sm-6
							div.form-control
								label.label Old password
								div.form-element
									input.input(type='password' name='old' ng-model='password.old' required)
						div.col-sm-6
							div.form-control
								label.label New Password
								div.form-element
									input.input(type='password' name='old' ng-model='password.new' required)
					
					div.form-group.row.gutter-base
						div.form-control
							input.btn.btn-secondary(type='submit' value='Change password')


include ../layout/footer.jade
include ../layout/includes.jade